.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 px 8 px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    color: white;
    padding: 7px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#addTask {
    background-color: #4caf50;
}

#addTask:hover {
    background-color: #4caf49;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

#removeTask {
    background-color: #f44336;
}

#removeTask:hover {
    background-color: #d32f2f;
}

p {
    text-align: center;
    font-style: italic;
    color: #777;
}